.ultra-para {
  border: 1px solid white;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
}
.details-list-Ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}
.genres-list {
  width: 24%;
}
.details-div {
  display: flex;
  flex-direction: row;
}
.top-div {
  height: 70vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-head {
  color: white;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
}
.poster-div {
  padding: 50px;
  width: 50%;
}
.top-para {
  color: white;
  font-family: 'Roboto';
  font-size: 15px;
}
.play-btn {
  color: #000000;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 10px;
  height: 32px;
  width: 120px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}
.down-div {
  padding: 50px;
  background-color: black;
}
.down-head {
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}
.search-result-Ul {
  list-style-type: none;
  padding: 30px;
  margin: 0px;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.result-list-item {
  height: 300px;
  width: 18.5%;
  padding: 20px;
}
.thumbnail-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
