.not-Found-Container{
  background-image: url('https://res.cloudinary.com/dksp7vfwl/image/upload/v1701673252/Movies%20App/snow-removal-machine-working-high-ski-slope-snowstorm_454047-2149_1_cprw95.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 100vh;
  font-family: 'Roboto';
}
.not-FoundTitle{
  font-size: 45px;
  color: white;
}
.not-FoundDescription{
  font-size: 17px;
  color: white;
}
.goto-HomeBtn{
  background-color: white;
  width: 120px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  color: black;
  font-family: 'Roboto';
  font-size: 10px;
}