.account-div {
  padding: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.account-head {
  color: #000000;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
}
.horizontal-line {
  color: #cbd5e1;
  width: 100%;
}
.details-div {
  display: flex;
  flex-direction: row;
}
.main-label {
  width: 140px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  color: #94a3b8;
}
.row-div {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}
.mail {
  color: #000000;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;
}
.ultra {
  color: #000000;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;
  border: 1px solid black;
  padding: 5px;
}
.just-label {
  color: #64748b;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;
}
.logout-btn {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 10px;
  height: 32px;
  width: 120px;
  background-color: #e50914;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 40px;
  align-self: center;
}
