.top-div {
  height: 70vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-head {
  color: white;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
}
.poster-div {
  padding: 50px;
  width: 50%;
}
.top-para {
  color: white;
  font-family: 'Roboto';
  font-size: 15px;
}
.play-btn {
  color: #000000;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 10px;
  height: 32px;
  width: 120px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}
.down-div {
  padding: 50px;
  background-color: black;
}
.down-head {
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}
.failure-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  border-radius: 10px;
  height: 100%;
}
.failure-img {
  height: 70px;
  width: 70px;
}
.slide-item {
  height: 300px;
  width: 22%;
  padding: 10px;
}
.slide-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
