.search-result-Ul {
  list-style-type: none;
  padding: 30px;
  margin: 0;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.result-list-item {
  height: 300px;
  width: 18.5%;
  padding: 20px;
}
.thumbnail-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.search-div {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.top-head {
  color: white;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
}
